@import "bootstrap-sprockets";
@import "bootstrap";
@import "lightbox";

@import "books";

body { padding-top: 70px; }

.navbar-poczytane {
  background-color: white;

  .navbar-nav li.active > a {
    background-color: #f6f6f6;
  }
}
