.books {
  #books-container {
  }

  .book {
    img {
      max-width: 100%;
      display: block;
    }
  }

  #infscr-loading {
    position: fixed;
    bottom: 15px;
    left: 50%;
    margin-left: -100px;
    padding: 20px;

    background-color: white;
    border-radius: 10px;
    border: 1px solid #eee;
  }
}
