.books {
  background-color: #efefef;

  #books-container {
  }

  .book {
    margin-bottom: 20px;
    overflow: hidden;

    text-align: center;
  }

  .book-description {
    background-color: white;
    padding: 10px;
    // border-radius: 5px;

    img {
      width: 100%;
      display: block;
      // border-radius: 5px 5px 0 0;
    }
  }

  .book-title {
    margin: 0;
    padding-top: 10px;

    font-size: 1.4em;
    color: #464646;
  }

  .book-by {
    margin: 0.15em 0;
    font-style: italic;
    font-size: 0.9em;
  }

  .book-authors {
    color: #666;
  }

  #infscr-loading {
    position: fixed;
    bottom: 15px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    padding: 20px;

    background-color: white;
    border-radius: 10px;
    border: 1px solid #eee;

    text-align: center;
  }
}
